@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Harmattan:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&display=swap');

.header {
  color: rgb(98, 137, 85);
  padding-left: 10%;
}

body{
}

.bodytext{
  font-size: 20px;
}

.chunk {
  display: table;
  position: relative;
  width: 60%;
  font-size: 40px;
  font-weight: 100;
  top: 30px;
  line-height: 1.5;
  float: left;
  padding-left: 5%;
  padding-bottom: 0.8em;
  /*background: lightblue;*/
  margin-bottom: 1.5em;
}

.move-1 .ipa {
  font-size: 18px;
  margin-bottom: 7px;
}

.chinese-header {
  position: absolute;
  top: 2em;
  right: 8vw;
  width: 260px;
}
.chinese-header rt{
    margin-left: 1px;
    color: rgb(189, 82, 75)
  }
.chinese-header > .welcomecn{
    display:flex;
    position: relative;
    float: right;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 80px;
    font-family: serif;
    font-weight: 300;
    height:4em;
    /*float: left;
    clear: right;
    margin-left: 20px;*/
    color: rgb(98, 137, 85);
  }
.chinese-header .vertical {
    margin-top: 4px;
    display: flex;
    position: relative;
    font-family: "LXGW WenKai Mono TC", serif;
    font-weight: 400;
    font-size: 30px;
    height: 10em;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    line-height: 1.7;
    /*color: rgb(189, 82, 75);*/
    color: rgb(98, 137, 85);
    }
.vertical .ipa {
      font-size:12px;
      color: rgb(189, 82, 75);
      /*color: rgb(98, 137, 85);*/
    }
  .chinese-header .introcn {
    display: none;
  }


.ipa {
  color: rgb(98, 137, 85);
  font-family: 'Noto Sans', sans-serif;
  font-weight: normal;
  font-size: 35px;
}

/*body paragraph*/

.bottomchunk {
  /*left: 7%;*/
  display: table;
  width: 80vw;
  padding-left: 2%;
  margin-right: 2%;
  padding-top: 40px;
  position: relative;
  float: left;
  /*background: lightblue;*/
  border-top: 5px double rgb(189, 82, 75)
}

.intro {
  width:63%;
  float:left;
  margin-top: 5px;
  font-size: 12.5px;
  line-height: 1.5;
  font-weight: 100;
  font-family: Verdana;
}

.links {
  width: 15%;
  float: left;
  top: 0.7em;
  line-height: 1;
  position: relative;
}

.red {
  color: rgb(189, 82, 75);
  font-family: "LXGW WenKai Mono TC", serif;
  font-weight: normal;
  font-size: 11px;
}
.web{
  display: inline-block;
  margin-bottom: 1em;
  text-align: center;
}

figure {
  position: relative;
  float:left;
  width: 14%;
  margin-top: 10px;
  margin-left: 2.5%;
}
figure > img {
      position: relative;
      padding: 2px;
      width: 95%;
      border: 2px solid rgb(98, 137, 85);
      }
figure > figcaption{
      position: relative;
      width: 95%;
      text-align: center;
      font-family: Verdana;
    }



a {
  line-height: 1;
  color: rgb(189, 82, 75);
  font-family: monospace;
  font-size: 20px;
  text-decoration: none;
}

a:hover {
  font-style: italic;
  font-weight: bold;
}
a:visited {
  text-decoration: none;
}

p {
  color: rgb(98, 137, 85);
}

body {
  font-family: monospace;
}

/*header animation*/
.move {
  margin-left: 40px;
  color: rgb(98, 137, 85);
}
.move2 {
  font-family: "Harmattan";
  font-weight: lighter;
  margin-left: 20%;
  transition: margin-left 1s ease;
}
.move1 {
  margin-left: 10%;
  transition: margin-left 1s ease;
}
.move0 {
  transition: margin-left 1s ease;
}
.move-1 {
  /*padding-left: 100px;*/
  position: relative;
  font-family: monospace;
  top: 0.7em;
  font-size: 30px;
}


.move:hover .move2 {
  margin-left: 0px;
}
.move:hover .move1 {
  margin-left: 7%;
}
.move:hover .move0 {
  margin-left: 20%;
}
/*.chunk:hover .move-1 {
  padding-left: 150px;
  transition: 1s;
}
.chunk:hover > .move-2 {
  margin-left: 200px;
}*/

/* RESPONSIVE DESIGN */
@media (max-width: 940px) {
  .header {
  }
  .chunk {
  }
  .chinese-header {
    font-weight: regular;
    width:15vh;}

  .chinese-header .welcomecn {
      display: inline-flex;
      font-size: 65px;
      vertical-align: top;
      float:right;
      margin-bottom: -0.5em;
    }
  .chinese-header .vertical {
      display: inline-flex;
      font-size: 35px;
      height: 10em;
      line-height: 1.7;
      vertical-align: bottom;
      /*white-space: nowrap;*/
      float:right;
      position: relative;
      color: rgb(189, 82, 75);
    }
    .chinese-header .vertical .ipa {
        font-size:16px;
      }

  .bottomchunk {

  }
}

@media (max-width: 480px) {
  .header{
    padding-left: 5vw;
    font-size:10px;
  }
  .chunk{
    background: skyblue;
    width: 60vw;
    padding: 0vw;
    font-size: 20px;
  }
    .bodytext{
    font-size: 15px;
    }
    .ipa {
      font-size: 15px;
    }
    .move{
      display: none;
    }

    figure {
      position: relative;
      display: inline-block;
      vertical-align: top;
      float:left;
      width: 30vw;
    }
    figure > img {
    }
    figure > figcaption{
          font-family: Verdana;
          font-size: ;
        }

  .bottomchunk{
    background: skyblue;
    width: 60vw;
    left:0vw;
    padding-left: 0px;
  }
  .links{
    background: blue;
    display: inline-block;
  }
  .intro{
    width: 50vw;
    left:28px;
    display: inline-block;
    position:relative;
    vertical-align: bottom;
    float: left;
  }
  .bottomchunk .intro .introcn {
    display: none;
  }

  .chinese-header{
    right: 2.5vw;
    width: 23vw;
    padding-top: 4px;
    border-left: 4px double rgb(189, 82, 75);
  }
  .chinese-header .welcomecn{
      font-size: 50px;

      margin-right:0px;
      padding-right:0px;
      right:0px;
    }
  .chinese-header .vertical{
    display: none;
    /*float: right;
    font-size: 20px;
    height: 7em;
    margin-top: 10px;*/
    }

  .chinese-header .introcn{
    display: inline-block;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin-top: 0.5em;
    height: 22em;
    position: relative;
    float:right;
    color: rgb(98, 137, 85);
    font-family: serif;
    margin-right: 2.5vw;
  }
  .chinese-header .introcn .red{
    font-size: 12px;
  }

}
